<%= render "shared/errors", obj: @user %>

<table class="table table-bordered table-sm shadow p-3 mb-5 bg-white rounded">
    <tr>
        <th class="table-dark" scope="col"><%= form.label :klass %></th>
        <td style="width:15rem"><%= form.text_field :klass %></td>
    </tr>
    <tr>
        <th class="table-dark" scope="col"><%= form.label :number %></th>
        <td style="width:15rem"><%= form.text_field :number %></td>
    </tr>
    <tr>
        <th class="table-dark" scope="col"><%= form.label :last_name %></th>
        <td style="width:15rem"><%= form.text_field :last_name %></td>
    </tr>
    <tr>
        <th class="table-dark" scope="col"><%= form.label :first_name %></th>
        <td style="width:15rem"><%= form.text_field :first_name %></td>
    </tr>
    <tr>
        <th class="table-dark" scope="col"><%= User.human_attribute_name(:role) %></th>
        <td style="width:15rem">
            <%= form.radio_button :role, 1 %>
            <%= form.label :role_1 %>
            <%= form.radio_button :role, 2 %>
            <%= form.label :role_2 %>
        </td>
    </tr>
</table>