<%= render "shared/errors", obj: @user %>

<table class="attr">
    <tr>
        <th><%= form.label :klass %></th>
        <td><%= form.text_field :klass, size: 8 %></td>
    </tr>
    <tr>
        <th><%= form.label :student_number %></th>
        <td><%= form.text_field :student_number %></td>
    </tr>
    <tr>
        <th><%= form.label :last_name %></th>
        <td><%= form.text_field :last_name %></td>
    </tr>
    <tr>
        <th><%= form.label :first_name %></th>
        <td><%= form.text_field :first_name %></td>
    </tr>
    <tr>
        <th><%= User.human_attribute_name(:role) %></th>
        <td>
            <%= form.radio_button :role, 1 %>
            <%= form.label :role_1 %>
            <%= form.radio_button :role, 2 %>
            <%= form.label :role_2 %>
        </td>
    </tr>
</table>