<% @page_title = "名簿" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_users, method: :get, class: "search" do %>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "検索" %>
<% end %>

<div class="toolbar"><%= link_to "ユーザーの新規登録", :new_user %></div>

<% if @users.present? %>
    <table class="list">
        <thead>
            <tr>
                <th>クラス</th>
                <th>学籍番号</th>
                <th>氏名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.klass %></td>
                    <td><%= user.number %></td>
                    <td><%= link_to user.last_name + user.first_name, user %></td>
                    <td>
                        <%= link_to "編集", [:edit, user] %> |
                        <%= link_to "削除", user, method: :delete,
                            data: { confirm: "本当に削除しますか？" } %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>名簿情報がありません。</p>
<% end %>
