<% @page_title = "マイページ" %>

<div class="card m-5 p-5">
<h1 class="text-center"><%= @page_title %></h1>

<div class="mx-auto  mt-5" style="width:20rem">
    <% if current_user.teacher? %>
        <%= link_to "編集", [:edit, @user] ,class: "btn btn-outline-info btn-sm m-1"%>
    <% end %>
    <%= link_to "パスワードの変更", edit_password_path(@user.id) ,class: "btn btn-outline-info btn-sm m-1"%>
    <div class="text-center">
        <table class="table table-bordered table-sm shadow p-3 mb-5 bg-white rounded">
            <caption>Details of Student</caption>
            <tr>
                <th class="table-dark" scope="col">クラス</th>
                <td style="width:15rem"><%= @user.klass %></td>
            </tr>
            <tr>
                <th class="table-dark" scope="col">学籍番号</th>
                <td style="width:15rem"><%= @user.number %></td>
            </tr>
            <tr>
                <th class="table-dark" scope="col">姓</th>
                <td style="width:15rem"><%= @user.last_name %></td>
            </tr>
            <tr>
                <th class="table-dark" scope="col">名</th>
                <td style="width:15rem"><%= @user.first_name %></td>
            </tr>
            <tr>
                <th class="table-dark" scope="col">役職</th>
                <td style="width:15rem"><%= @user.role == 1 ? "生徒" : "教師" %></td>
            </tr>
        </table>
    </div>
</div>
