<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Attend App</h5>
    <nav class="navbar navbar-expand-lg">
        <%= link_to "ホーム", :root , {class: "p-2 text-dark"} %>
        <% if current_user&.teacher?  %>
            <%= link_to "クラス名簿", :users , {class: "p-2 text-dark"} %>
            <%= link_to "管理ページ", "#" , {class: "p-2 text-dark"} %>
        <% end %>
        <% if logged_in? %>
            <%= link_to "マイページ", current_user , {class: "p-2 text-dark"} %>
            <%= link_to "ログアウト", logout_path, method: :delete , class: "btn btn-outline-primary btn-sm mx-1" %>
        <% else %>
            <%= link_to "ログイン", login_path , class: "btn btn-outline-primary btn-sm mx-1" %>
        <% end %>
    </nav>
</div>