<h1>Attend-App</h1>
 
<nav class="menubar">
    <ul>
        <%= menu_link_to "TOP", :root %>
        <% if current_user&.teacher?  %>
            <%= menu_link_to "クラス名簿", :users %>
            <%= menu_link_to "管理ページ", "#" %>
        <% end %>
        <% if logged_in? %>
            <%= menu_link_to "Profile", current_user %>
                <%= menu_link_to "Log out", logout_path, method: :delete %>
        <% else %>
            <%= menu_link_to "Log in", login_path %>
        <% end %>
    </ul>
</nav>