<% @page_title = "パスワードの変更" %>

<div class="card m-5 p-5">
    <h1 class="text-center"><%= @page_title %></h1>
    <div class="mx-auto  mt-5" style="width:40rem">
        <div><%= link_to "マイページに戻る", @user ,class: "btn btn-outline-info btn-sm m-1"%></div>
        <div class="text-center">
            <%= form_for @user, as: "user", url: :password do |form| %>
                <%= render "shared/errors", obj: @user %>

                <table class="table table-bordered table-sm shadow p-3 mb-5 bg-white rounded">
                    <tr>
                        <th class="table-secondary text-muted" scope="col"><%= form.label :current_password %></th>
                        <td style="width:25rem"><%= form.password_field :current_password %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary text-muted" scope="col"><%= form.label :password %></th>
                        <td style="width:25rem"><%= form.password_field :password %></td>
                    </tr>
                    <tr>
                        <th class="table-secondary text-muted" scope="col"><%= form.label :password_confirmation %></th>
                        <td style="width:25rem"><%= form.password_field :password_confirmation %></td>
                    </tr>
                </table>

                <div><%= form.submit "変更" %></div>
            <% end %>
        </div>
    </div>
</div>