<% if current_user.teacher? %>

    <h1>先生用ページ</h1>

    <h2>現在の<%= @klass %>の出席状況（<%= Time.zone.now.strftime("%Y年%-m月%-d日 %-H時%-M分") %>）</h2>

    <div class="m-5">
    <table class="table table-bordered table-hover table-sm">
        <caption>List of Attendance</caption>
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col" style="width:25rem">出席</th>
                <th scope="col" style="width:50rem">氏名</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% @students.each do |user| %>
                <% if user.attends.that_day?(@today) %>
                    <tr>
                        <th class="text-success" scope="row" style="width:25rem">⭕️</th>
                        <td style="width:50rem"><%= link_to user.last_name + " " + user.first_name, user ,class: "" %></td>
                    </tr>
                <% else %>
                    <tr>
                        <th scope="row" style="width:25rem"><p class="text-success">×</p></th>
                        <td style="width:50rem"><%= link_to user.last_name + " " + user.first_name, user ,class: "mx-auto" %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    </div>
    

    <h2>他のクラスの出席状況をみる</h2>

    <div class="list-group">
    <% User.klass_list.each do |klass| %>
        <%= link_to klass, "/class/#{klass}" , class: "list-group-item list-group-item-action btn btn-lg" %>
    <% end %>
    </div>
<% else %>

    <h1>生徒用ページ</h1>

    <h2>今日の出席状態</h2>

    <ul>
        <% if current_user.attends.that_day?(@today) %>
            <li class="text-success">現在出席しています。</li>
        <% else %>
            <li class="text-danger">現在出席していません。</li>
        <% end %>
    </ul>

    <h2>現在の出席率</h2>

<% end %>