<% if current_user.teacher? %>

    <h1>先生用ページ</h1>

    <h2>現在の<%= @klass %>の出席状況（<%= Time.zone.now.strftime("%Y年%-m月%-d日 %-H時%-M分") %>）</h2>

    <% @students.each do |user| %>
        <% if user.attends.that_day?(@today) %>
            <p>⭕️ <%= link_to user.last_name + " " + user.first_name, user %></p>
        <% else %>
            <p>❌ <%= link_to user.last_name + " " + user.first_name, user %></p>
        <% end %>
    <% end %>

    <h2>他のクラスの出席状況をみる</h2>

    <div class="list-group">
    <% User.klass_list.each do |klass| %>
        <%= link_to klass, "/class/#{klass}" , class: "list-group-item list-group-item-action btn btn-lg" %>
    <% end %>
    </div>
<% else %>

    <h1>生徒用ページ</h1>

    <h2>今日の出席状態</h2>

    <ul>
        <% if current_user.attends.that_day?(@today) %>
            <li class="text-success">現在出席しています。</li>
        <% else %>
            <li class="text-danger">現在出席していません。</li>
        <% end %>
    </ul>

    <h2>現在の出席率</h2>

<% end %>