<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<style>
    .count {
        font-family: 'Roboto Mono', monospace;
    }
</style>

<div class="card m-5 p-5">
<% if current_user.teacher? %>
    
    <h1>先生用ページ</h1>

    <h2>現在の<%= link_to @klass ,:users %>の出席状況（<%= @now.strftime("%Y年%-m月%-d日 %-H時%M分") %>）</h2>

    <div class="mx-auto" style="width:40rem">
    <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
        <caption>List of Attendance</caption>
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col" style="width:25rem">出席</th>
                <th scope="col" style="width:25rem">学籍番号</th>
                <th scope="col" style="width:50rem">氏名</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% @students.each do |user| %>
                <% if user.attends.that_day?(12.hours.ago, @now) %>
                    <tr>
                        <td class="text-success" scope="row" style="width:25rem"><i class="far fa-check-circle fa-lg"></i></td>
                        <td style="width:25rem;"><%= user.number %></td>
                        <td style="width:50rem;"><%= link_to user.last_name + " " + user.first_name, user %></td>
                    </tr>
                <% else %>
                    <tr>
                        <td class="text-danger" scope="row" style="width:25rem"><i class="fas fa-ban fa-lg"></i></td>
                        <td style="width:25rem;"><%= user.number %></td>
                        <td style="width:50rem;"><%= link_to user.last_name + " " + user.first_name, user %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    </div>
    

    <h2>他のクラスの出席状況をみる</h2>

    <div class="list-group">
    <% User.klass_list.each do |klass| %>
        <%= link_to klass, "/class/#{klass}" , class: "list-group-item list-group-item-action btn btn-lg" %>
    <% end %>
    </div>
<% else %>

    <h1>生徒用ページ</h1>

    <h2>今日の出席状態</h2>

    <ul>
        <% if current_user.attends.that_day?(12.hours.ago, @now) %>
            <li class="text-success">現在出席しています。</li>
        <% else %>
            <li class="text-danger">現在出席していません。</li>
        <% end %>
    </ul>

    <h2>現在の出席率</h2>

    <% if @attend_rate >= 80 %>
        <h1 class="text-success count"><%= @attend_rate %>%</h1>
        <p id="count" data-from="0" data-to="4096">0</p>
    <% else %>
        <h1 class="text-danger count"><%= @attend_rate %>%</h1>
        <p>※現在80%を下回っています。</p>
    <% end %>

<% end %>
</div>

<script>
    const el = {
    count: document.getElementById('count'),
    button: document.getElementById('button')
    }
    const DURATION = 3.6
    let isAnimating = false

    el.button.addEventListener('click', e => {
    if (isAnimating) {
        return
    }
    
    isAnimating = true

    const from = parseInt(el.count.dataset.from, 10)
    const to = parseInt(el.count.dataset.to, 10)
    let obj = {count: from}
    
    TweenMax.to(obj, DURATION, {
        count: to,
        ease: Power3.easeInOut,
        onUpdate: () => {
        el.count.textContent = Math.floor(obj.count)
        },
        onComplete: () => {
        isAnimating = false
        }
    })
    })
</script>