<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<style>
    .count {
        font-family: 'Roboto Mono', monospace;
    }
</style>

<div class="card m-5 p-5">
    <% if current_user.teacher? %>
        <div class="text-center">
        <h1 class="mb-4 mb-5">管理者用ページ</h1>

        <h2>現在の<%= link_to @klass, :users %>の出席状況</h2>
        <p class="text-muted"><%= @now.strftime("%Y年%-m月%-d日 %-H時%M分") %></p>

        <div class="mx-auto mt-5" style="width:40rem">
        <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
            <caption>List of Attendance</caption>
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col" style="width:25rem">出席</th>
                    <th scope="col" style="width:25rem">学籍番号</th>
                    <th scope="col" style="width:50rem">氏名</th>
                    <th scope="col" style="width:25rem">出席率</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% @students.each_with_index do |user, i| %>
                    <tr>
                        <td class="<%= user.attends.that_day?(12.hours.ago, @now) ? 'text-success' : 'text-danger' %>" scope="row" style="width:25rem"><i class="far fa-check-circle fa-lg"></i></td>
                        <td style="width:25rem;"><%= user.number %></td>
                        <td style="width:50rem;"><%= link_to user.last_name + " " + user.first_name, user %></td>
                        <td style="width:25rem;"><%= @attend_rate_list[i] %>%</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
        
        <h2 class="text-center">他のクラスの出席状況を見る</h2>

        <div class="list-group text-center mx-auto" style="width:40rem">
        <% User.klass_list.each do |klass| %>
            <%= link_to klass, "/class/#{klass}" , class: "list-group-item list-group-item-action btn btn-lg" %>
        <% end %>
        </div>
    <% else %>
        <div class="text-center mx-auto">
            <h1 class="mb-4 mb-5">ようこそ、<b><%= current_user.last_name + current_user.first_name %></b>さん</h1>
            <div class="mx-auto" style="width:25rem;">
                <div class="card m-3 p-3 shadow p-3 mb-3 bg-white rounded">
                    <h2 class="mb-4">今日の出席状態</h2>

                    <% if current_user.attends.that_day?(12.hours.ago, @now) %>
                        <p class="text-success"><i class="far fa-check-circle fa-lg"></i>現在出席しています。</p>
                    <% else %>
                        <p class="text-danger"><i class="fas fa-ban fa-lg"></i>現在出席していません。</p>
                    <% end %>
                </div>
                <div class="card m-3 p-3 shadow p-3 mb-5 bg-white rounded">
                    <h2 class="mb-4">現在の出席率</h2>

                    <div class="attend-rate-area">
                        <h1 id="count" class="text-danger" data-from="0.00" data-to="<%= @attend_rate %>">0.00%</h1>
                        <p class="danger-message text-muted font-weight-bold"></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            /**
            * 任意の桁で四捨五入する関数
            * @param {number} value 四捨五入する数値
            * @param {number} base どの桁で四捨五入するか（10→10の位、0.1→小数第１位）
            * @return {number} 四捨五入した値
            */
            function orgRound(value, base) {
                return Math.round(value * base) / base;
            }

            var el = {
                count: document.getElementById('count'),
                button: document.getElementById('button'),
                attendRate: document.querySelector('.attend-rate-area')
            }

            var DURATION = 2.9
            var isAnimating = false

            $(document).on('turbolinks:load', function() {
                if (isAnimating) {
                    return
                }
            
                isAnimating = true

                const from = Number(el.count.dataset.from)
                const to   = Number(el.count.dataset.to)
                let obj = {count: from}
            
                TweenMax.to(obj, DURATION, {
                    count: to,
                    ease: Power3.easeInOut,
                    onUpdate: () => {
                        el.count.textContent = orgRound(obj.count, 100) + "%"

                        if (obj.count >= 90) {
                            el.count.classList.add('text-success')
                            el.count.classList.remove('text-danger')
                        }
                        if (obj.count === to && obj.count < 90) {
                            document.querySelector('.danger-message').textContent = '※現在90%を下回っています。'
                        }
                    },
                    onComplete: () => {
                        isAnimating = false
                    }
                })
            });
        </script>


    <% end %>
</div>
