<!DOCTYPE html>
<html>
  <head>
    <title>AttendApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>



