<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="wrapper" class="bg-light">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
      <% if flash.notice %>
        <% if logged_in? %>
          <p class="alert alert-success shadow mx-5 mt-3 mb-1 p-3 rounded"><i class="fas fa-user-check fa-lg"></i>　<%= flash.notice %></p>
        <% else %>
          <p class="alert alert-danger shadow mx-5 mt-3 mb-1 p-3 rounded"><i class="fas fa-user-check fa-lg"></i>　<%= flash.notice %></p>
        <% end %>
      <% end %>

        <%= yield %>
      </main>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>

    <script>
      const flashMsg = document.querySelector('.alert')
      // 表示されてから4秒後にフェードアウトスタート
      const TIMEOUT_DELAY = 2500
      // 20ミリ秒に一回, opacity値を0.01減少させる設定
      const INTERVAL_DELAY = 5
      const OPACITY_SUB_VAL = 0.01

      // flashメッセージを消す処理
      const deleteFlashMessage = () => {
        const id = setInterval(() => {
          const opacity = flashMsg.style.opacity

          if (opacity > 0) {
            flashMsg.style.opacity = opacity - OPACITY_SUB_VAL
          } else {
            // opacityがゼロになったらflashメッセージをdisplay: noneに設定
            flashMsg.style.display = 'none'
            clearInterval(id)
          }
        }, INTERVAL_DELAY)
      }

      // flashメッセージが存在するかを真偽値に置き換えて判定
      if (!!flashMsg) {
        // opacityは元々設定されていないので、初期値を追加
        // opacity値は0~1の間で表現される
        flashMsg.style.opacity = 1
        setTimeout(deleteFlashMessage, TIMEOUT_DELAY)
      }
    </script>

  </body>
</html>



