<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
      <% if flash.notice %>
          <p class="alert alert-success shadow m-3 p-3 mb-5 rounded"><i class="fas fa-bullhorn fa-lg"></i>　<%= flash.notice %></p>
      <% end %>

        <%= yield %>
      </main>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>



